.split-desktop {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-top {
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid #e94560;
}

.split-bottom {
  width: 100%;
  overflow: hidden;
  background: #1a1a2e;
}

.split-top iframe,
.split-bottom iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.split-top > div,
.split-bottom > div {
  width: 100%;
  height: 100%;
}
