.split-desktop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-left {
  height: 100%;
  overflow: hidden;
  border-right: 3px solid #e94560;
}

.split-right {
  height: 100%;
  overflow: hidden;
  background: #1a1a2e;
}

.split-left iframe,
.split-right iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.split-left > div,
.split-right > div {
  width: 100%;
  height: 100%;
}
